.container
  %button.btn.btn-info.btn-lg#settingsButton{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
    %i.fa.fa-gear
  / Modal
  #myModal.modal.fade{:role => "dialog"}
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Settings
        %form
          .modal-body
            Puzzle
            %select#puzzle
              %option{:value => 0} 2x2x2
              %option{:value => 1} 3x3x3
              %option{:value => 2} 4x4x4
              %option{:value => 3} 5x5x5
              %option{:value => 4} 6x6x6
              %option{:value => 5} 7x7x7
              %option{:value => 6} Square-1
              %option{:value => 7} R's Clock
              %option{:value => 8} Megaminx
              %option{:value => 9} Pyraminx
            %input{:name => "inspectTime", :type => "checkbox", :inspect => false} Inspection time
            %input{:name => "time", :type => "checkbox", :time => true} Show time when solving
            Quantity (between 1 and 5):
            %input#puzzleSize{:max => "5", :min => "1", :name => "quantity", :type => "number"}/
          .modal-footer
            %button.btn.btn-default{:onclick=>"updatePuzzle()","data-dismiss" => "modal", :type => "submit"} Save and Close
