.container
  %button.btn.btn-info.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Open Modal
  / Modal
  #myModal.modal.fade{:role => "dialog"}
    .modal-dialog
      / Modal content
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Modal Header
        .modal-body
          %p Some text in the modal.
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
