.col-sm
  %h3 Channels
  %ul.list-group
    - @channels.each do |channel|
      %li= link_to channel.channel_name, channel
%br/
- if has_role?(:admin)
  = link_to 'New Channel', new_channel_path, class: 'button'
