%h1 Editing Reply
= form_for([@discussion, @reply]) do |f|
  .field
    .control
      = f.text_area :reply, input_html: {class: "textarea"}, wrapper: false, label_html:{class: 'label'}
  = f.button :submit, "Update reply":String
