// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background-color: #AAADAE
}

.stopwatch-container{
  margin: auto;
  width: 50%;
  height: 50%;
  /* bring your own prefixes */
  //transform: translate(-50%, -50%);
}
button.btn.btn-info.btn-lg{
  float:right;
  vertical-align: text-top;
  margin: 0 auto;
}

// .plus2Btn{
//   visibility: hidden;
// }
// .delBtn{
//   visibility: hidden;
// }
// .dnfBtn{
//   visibility: hidden;
// }
// .saveBtn{
//   visibility: hidden;
// }
