// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stopwatch-container{
  margin: auto;
  padding: 15px 25px;
  width: 100%;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;top: 50%;
}
.stopwatch-body.buttons{

  flex: auto;
  left: 50%;top: 50%;
}
#timeVal{
  font-family: 'Roboto Mono';font-size: 80px;
}
#stopwatch_text{
  width: 100%;
  max-width: 300px;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  flex: auto;
}
.container#statsTable{
  background-color: #ffffff;
  width: 25%;
  padding: 0;
  border:0;
  outline: 0;
  margin: 0;
  vertical-align: baseline;
  ul {
  list-style-type: none;
 }
}
.fixed_header tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}.fixed_header thead tr{
  display:block;
}

#tableOfTimes{
  font-family: arial,sans-serif;
}
#settingsButton{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: Transparent;
  font-size: 40px;
  margin-left: 100%;
  white-space: nowrap;
  flex: auto;
  color: black;
}

#settingsButton:hover {
  //border-style: inset;
  color: black;
}
.inner{
  display: inline-block;
}
.flowBox{
  display: block;
  text-align: left;
}
