// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stopwatch-container{
  margin: auto;
  padding: 15px 25px;
  width: 100%;
  max-width: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;top: 50%;
}
.stopwatch-body.buttons{
  
  flex: auto;
  left: 50%;top: 50%;
}
#timeVal{
  font-family: 'Roboto Mono';font-size: 80px;
}
#stopwatch_text{
  width: 100%;
  max-width: 300px;
  clear: both;
  display: inline-block;
  white-space: nowrap;
  flex: auto;
}
.stopwatch-body.buttons{
  //visibility: hidden;
}
// .plus2Btn{
//   visibility: hidden;
// }
// .delBtn{
//   visibility: hidden;
// }
// .dnfBtn{
//   visibility: hidden;
// }
// .saveBtn{
//   visibility: hidden;
// }
