%h1=t('.title')
%p
  This website is an intuitive tool that can be used
  to help improve your Rubik's cubes skills. It comes with
  a stopwatch for at home time keeping and your times can then
  be saved on your account which can then be graphed to show your
  improvements. There is also a forum in which users share tips and tricks
  for not only improving your skills but also getting to know others
